<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>welcome_page.jsp</welcome-file>
    </welcome-file-list>

<!--    <servlet>-->
<!--        <servlet-name>ServerServlet</servlet-name>-->
<!--        <servlet-class>ServerServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>ServerServlet</servlet-name>-->
<!--        <url-pattern>/serverServlet</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>ClientServlet</servlet-name>-->
<!--        <servlet-class>ClientServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>ClientServlet</servlet-name>-->
<!--        <url-pattern>/clientServlet</url-pattern>-->
<!--    </servlet-mapping>-->

    <filter>
        <filter-name>StartFilter</filter-name>
        <filter-class>StartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StartFilter</filter-name>
        <url-pattern>/GameServlet</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ColorFilter</filter-name>
        <filter-class>ColorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ColorFilter</filter-name>
        <url-pattern>/welcome_page.jsp</url-pattern>
    </filter-mapping>
</web-app>